---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import ButtonTwo from '../components/ButtonTwo.astro';
import Counter from '../components/vue/Counter.vue';
import Directives from '../components/vue/Directives.vue';
import TODO from "../components/vue/TODO.vue";
import Fondos from '../components/vue/fondos.vue';
import Parcial from '../components/vue/Parcial.vue'
import Text from '../components/vue/Text.vue';
import Json from '../components/vue/Json.vue';

import Cards from '../components/vue/Cards.vue';
---

<Layout title="Welcome">
	<!--
		<Cards />
		<TODO client:load/>
		<Directives client:load/> 
	<Counter client:load/>
	
		<Button text="Aceptar"></Button>
		<Button text="Permitir"></Button>
		<Button text="Cancelar" isRounded></Button>
	
		<ButtonTwo>
			<span slot="text">
			Este es el button
			</span>
		<span slot="icon">X</span>   
		</ButtonTwo>
	
	<Fondos /> 
	<Parcial titulo="title" conteudo="mamksak kanknndnans" client:load/> 
	<Text client:load title="texting"/>
	<Json client:load/>
	 --->
	 <Cards client:load/>
	 <Cards client:load/>
</Layout>


