---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import ButtonTwo from '../components/ButtonTwo.astro';
import Counter from '../components/vue/Counter.vue';
---

<Layout title="Welcome">
	<Counter client:load/>
	<!--
		<Button text="Aceptar"></Button>
		<Button text="Permitir"></Button>
		<Button text="Cancelar" isRounded></Button>
	
		<ButtonTwo>
			<span slot="text">
			Este es el button
			</span>
		<span slot="icon">X</span>   
		</ButtonTwo>
	-->
</Layout>


